@import '../../utils/common.scss';

.flight-detail-info-container {
  padding: 0.25rem;
  box-sizing: border-box; /* Includes padding/borders in the width */
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  background-color: $background-color;
}

.flight-detail-info-table-container {
  width: 100%; 
}

.flight-detail-info-table-title {
  font-size: 1rem !important;
  font-weight: bold !important; 
  text-align: center !important;
  padding: 1rem !important; 
  background-color: $background-color !important; 
  color: white !important; 
  border-bottom: 0.4rem solid black !important;
}

.flight-detail-info-cell-title {
  color: orange !important; 
  font-weight: bold !important; 
  font-size: 0.75rem !important;
  background-color: $background-color;
  border-bottom: 0.4rem solid black !important;
}

.flight-detail-info-cell-value {
  color: white !important;
  font-size: 0.75rem !important;
  background-color: $background-color;
  border-bottom: 0.4rem solid black !important;
}

.flight-detail-info-book-flight-button:hover {
  font-size: 1.75rem !important;
  font-weight: bold !important; 
}

.flight-detail-info-book-flight-button {
  color: $background-color !important; 
  font-size: 1.65rem !important;
  text-align: center !important;
  background-color: orange;
  border-bottom: 0.4rem solid black !important;
  cursor: pointer;
}
