.flight-details-container {
  width: 100vw;
  margin-top: 5rem; 
  display: flex;
}

.flight-details-container img {
  border-radius: 4rem;
  padding: 2rem;
}

.separator {
  margin-top: 2rem;
  width: 0.2rem; 
  height: 50rem; 
  background-color: gray; /* Line color */
}

.flight-details-text-container {
  flex: 1;
}

.flight-details-title {
  text-align: center;
  word-spacing: 0.5rem;
}

.flight-details-content {
  padding: 2rem; 
  text-indent: 2rem; /* Margin on the first line of the paragraoh */
}

.error-container {
  margin-top: 5rem; /* Keeps space for the header */
}