@import '../../utils/common.scss';

.home-container {
  margin-top: 5rem; /* Keeps space for the header */
  width: 100%;
}

.airplane {
  position: relative; /* Enable positioning of children relative to this container */
  display: flex;
  flex-direction: column; /* Stack h1 and image vertically */
  justify-content: flex-start; 
  align-items: center; 
  width: 100%;
  overflow: hidden;
}

.title {
  position: absolute; /* Position the title over the image */
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem; /* Remove margin */
  margin-top: 8rem; /* Remove margin */
  font-family: "Poppins", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.airplane img {
  width: 100vw;
  height: auto; 
  object-fit: cover;
}

.home-no-user-container {
  margin-top: 5rem; /* Keeps space for the header */
  width: 100%;
  display: flex;
  flex-direction: column; 
  justify-content: center !important; 
  align-items: center !important; 
  gap: 2rem; 
}

.sign-up-airplane img {
  width: 100vw;
  height: 30vh; 
}

.home-no-user-form-container {
  align-items: center;
}

.no-user-welcome-title {
  text-align: center;
}

.no-user-welcome-subtitle {
  text-align: center;
}

.no-user-text {
  align-items: center; /* Centers vertically */
  text-align: center;
}

.sign-up-form {
  text-align: center;
  width: 60vw;
  margin: 0 auto; 
}

.user-input {
  background-color: $background-color;

  .MuiInputLabel-root {
    font-size: 1rem !important;  // Increased size
    font-weight: 500 !important;   // Added weight
    color: white;
  }

  .MuiInputLabel-root.Mui-focused {
    font-size: 1rem !important;  // Keep same size when focused
    color: white !important;     // MUI primary color when focused
  }

  .MuiOutlinedInput-notchedOutline {
    border-color: white !important;
  }

  &:hover .MuiOutlinedInput-notchedOutline {
    border-color: white !important;
  }

  &.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: white !important;
  }

  input {
    color: white !important;
  }
}

.sign-up-button {
  margin-top: 0.5rem !important;
  color: white !important;
  background-color: #FF7F00!important;  // Deep orange
  
  &:hover {
    font-weight: bold;
  }
}